TELEGRAM_BOT_TOKEN=<BOT TOKEN>
TELEGRAM_ALLOWED_USER_IDS=<USER_ID1>,<USER_ID2>
TELEGRAM_USER_NAMES=<USER_ID1>:<USERNAME1>,<USER_ID2>:<USERNAME2>
REMINDER_TIME=08:00
REMINDER_FILE=reminders.md
REMINDER_WEATHER_LOCATION=<City, State>
REMINDER_NEWS_FEEDS=https://feeds.bbci.co.uk/news/rss.xml,https://feeds.npr.org/1001/rss.xml,https://rss.nytimes.com/services/xml/rss/nyt/HomePage.xml
